:root {
  /* Fonts */
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* Text color */
  --primary-txt-cl: #555555;
  --secondary-txt-cl: rgba(157, 164, 189, 0.6);
  --third-txt-cl: #303030;
  --wite-txt-cl: #ffffff;
  --hero-txt-cl: #9da4bd;
  --hover-txt-cl: #ff6c00;
  /* Background-color */
  --primary-bcg-cl: #ffffff;
  --hover-icon-bcg: #ff6c00;
  /* Line color */
  --bottom-border-color: #ff6c00;
  --hover-btn-cl: #ff6c00;
  /* Icon color*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer_list, .contacts__list, .gallery__list, .masters__social--ccontainer, .masters__masters__list, .benefits__list, .price__list--right, .price__list--left, .about__list, .btn__list, .paination__list, .hero__list, .nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link, .contacts__link, .hero__link, .header__phone, .nav__link, .checkbox-link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Base styles */
body {
  background-color: var(--primary-bcg-cl);
  color: var(--primary-txt-cl);
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.02em;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
}

.js-no-transparency {
  transition-property: background-color;
  transition-duration: 600ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(10px);
}

/* Conteiner setings */
@media screen and (max-width: 480px) {
  .footer__section, .contacts__section, .gallery__container, .masters__container, .benefits__container, .price__section, .about__container, .hero__container, .header-container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__section, .contacts__section, .gallery__container, .masters__container, .benefits__container, .price__section, .about__container, .hero__container, .header-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.contacts__section, .gallery__section, .masters__section, .benefits__section, .price__section, .about__section {
  padding-top: 130px;
  padding-bottom: 130px;
}

@keyframes swing {
  0% {
    transform: rotate(6deg);
  }
  4% {
    transform: rotate(-6deg);
  }
  8% {
    transform: rotate(3deg);
  }
  12% {
    transform: rotate(-3deg);
  }
  16% {
    transform: rotate(0);
  }
}
@keyframes expand {
  0% {
    letter-spacing: -0.6em;
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-left-to-right {
  from {
    transform: translateX(-250px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-bottom-to-top {
  from {
    transform: translatey(150px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-top {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}
.footer__link, .contacts__link, .masters__social--link, .price__btn, .about-btn, .hero__link, .header__button, .header__phone, .nav__link, .modal-botton__submit, .modal-form__icon, .modal-form__imput, .modal__button, .modal__backdrop {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__btn, .price__btn, .about-btn, .header__button, .modal-botton__submit {
  min-width: 160px;
  min-height: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px, solid;
  border-color: var(--bottom-border-color);
  border-radius: 25px;
  cursor: pointer;
  background-color: transparent;
}

.btn--right, .btn--left {
  width: 60px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid;
  padding-bottom: 8px;
  padding: 0;
  padding-bottom: 8px;
  cursor: pointer;
  background-color: transparent;
}

.hero__text {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  align-items: center;
}
.hero__text::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: var(--secondary-txt-cl);
}

.contacts__uppertitle, .gallery__uppertitle, .masters__uppertitle, .benefits__uppertitle, .price__uppertitle, .uppertitle {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
  align-items: center;
  margin-bottom: 20px;
}
.contacts__uppertitle::before, .gallery__uppertitle::before, .masters__uppertitle::before, .benefits__uppertitle::before, .price__uppertitle::before, .uppertitle::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
  background: var(--secondary-txt-cl);
}

.masters__title, .benefits__title, .about-slogan {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--third-txt-cl);
  margin-bottom: 20px;
}

/**
  |============================
  | Modal window
  |============================
*/
.modal__backdrop {
  position: fixed;
  overflow-y: scroll;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
}
.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  background-color: var(--primary-bcg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (max-width: 479px) {
  .modal__window {
    width: 85%;
    transform: translate(-50%, -46%);
    padding: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal__window {
    width: 450px;
  }
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bcg-cl);
  margin-right: auto;
  cursor: pointer;
  transition-property: fill;
}

.modal__button:hover {
  fill: var(--hover-btn-cl);
}

.modal__button--icon-close {
  color: currentColor;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 35px;
}
@media screen and (max-width: 480px) {
  .modal__title {
    font-size: 14px;
    line-height: 1.2857142857;
  }
}

.modal-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.modal-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.modal-form__group:nth-child(4) {
  margin-bottom: 0;
}

.modal-form__imput {
  margin: 0;
  height: 40px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color, outline-color;
}
.modal-form__imput:focus, .modal-form__imput:hover {
  border-color: var(--hover-btn-cl);
  outline-color: var(--hover-btn-cl);
}
.modal-form__imput::placeholder {
  opacity: 0;
  transition: opacity 250ms ease;
}
.modal-form__imput:focus::placeholder {
  opacity: 1;
}

.modal-form__imput:focus + .modal-form__label {
  transform: translateY(-30px);
  transition: transform 250ms ease;
}

.modal-form__label {
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.modal-form__field {
  position: relative;
}

.modal-form__field--coment {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 44px;
  resize: none;
}
.modal-form__field--coment:focus, .modal-form__field--coment:hover {
  border-color: var(--hover-btn-cl);
  outline-color: var(--hover-btn-cl);
}
.modal-form__field--coment::placeholder {
  opacity: 0;
  transition: opacity 250ms ease;
}
.modal-form__field--coment:focus::placeholder {
  opacity: 1;
}

.modal-form__field--coment:focus + .modal-form__label {
  transform: translateY(-30px);
  transition: transform 250ms ease;
}

.checkbox-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.checkbox-icon_checked {
  fill: var(--hover-icon-bcg);
}

.checkbox-icon_not-checked {
  fill: rgb(119, 115, 111);
}

.checkbox-icon_checked {
  display: none;
}

.checkbox-input:checked + .checkbox-icon .checkbox-icon_checked {
  display: block;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  transition-property: fill;
}

.checkbox-text {
  display: flex;
}

.modal-checkbox__lable {
  display: flex;
  align-items: center;
}

.checkbox-link {
  display: block;
  line-height: 1.7142857143;
  border-bottom: 1px solid currentColor;
  line-height: 0.8;
  margin-left: 5px;
  color: var(--accent-text-color);
}
@media screen and (max-width: 480px) {
  .checkbox-link {
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    border-bottom: none;
    text-decoration: revert;
  }
}

.modal-form__field--comentt:placeholder-shown {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  margin-bottom: 30px;
  margin-top: 20px;
}

.modal-checkbox input {
  margin-right: 8px;
}

.modal-botton__container {
  display: flex;
  justify-content: center;
}

.modal-botton__submit {
  color: var(--third-txt-cl);
}
.modal-botton__submit:hover {
  background-color: var(--hover-btn-cl);
}

/**
  |============================
  | Heder
  |============================
*/
.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.header-container {
  position: relative;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.header-logo {
  position: absolute;
  left: -15px;
}
@media screen and (max-width: 480px) {
  .header-logo {
    position: absolute;
    left: 15px;
    top: 15px;
  }
}

.nav {
  margin-left: 153px;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.nav__link {
  display: block;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333333333;
  letter-spacing: 0.1em;
  color: var(--wite-txt-cl);
  padding-top: 52px;
  padding-bottom: 52px;
  transition-property: color;
}
.nav__link:hover, .nav__link:focus {
  color: var(--hover-txt-cl);
}

.header__phone {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: 40px;
  color: var(--wite-txt-cl);
  padding-top: 52px;
  padding-bottom: 52px;
  transition-property: color;
}
@media screen and (max-width: 480px) {
  .header__phone {
    display: none;
  }
}
.header__phone:hover, .header__phone:focus {
  color: var(--hover-txt-cl);
}

.header__button {
  transition-property: background-color;
}
@media screen and (max-width: 480px) {
  .header__button {
    display: none;
  }
}
.header__button:hover, .header__button:focus {
  background-color: var(--hover-btn-cl);
}

/**
  |============================
  | Hero section
  |============================
*/
.hero {
  background-image: url(../images/Hero/hero-img1@1x-lg.jpg), linear-gradient(to right, #fff 12%, #191c26 12%);
  max-width: 1280px;
  min-height: 680px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 1125px 680px, contain;
  background-position: top right, center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/Hero/hero-img1@2x-lg.jpg), linear-gradient(to right, #fff 12%, #191c26 12%);
  }
}

.hero__container {
  position: relative;
  display: flex;
}

.hero__left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.hero__list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg) translateX(45px) translateY(15px);
  transform-origin: left bottom;
}
.hero__list::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: var(--secondary-txt-cl);
}

.hero__link {
  display: block;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.2em;
  color: var(--third-txt-cl);
  transition-property: color;
}
.hero__link:hover, .hero__link:focus {
  color: var(--hover-txt-cl);
}

.hero__right-bar {
  position: relative;
  display: block;
  width: 100%;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin-top: 272px;
  margin-left: 100px;
  margin-bottom: 206px;
}

.hero__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.1805555556;
  letter-spacing: 0.05em;
  color: var(--wite-txt-cl);
}

.hero__slogan {
  font-size: 18px;
  line-height: 1.6666666667;
  letter-spacing: 0.02em;
  color: var(--hero-txt-cl);
}

.btn__list {
  position: absolute;
  right: 0;
  bottom: 40px;
  display: flex;
  gap: 26px;
}

.btn--left {
  color: rgba(157, 164, 189, 0.6);
  text-align: left;
}

.btn--right {
  color: #ffffff;
  text-align: right;
}

.paination__list {
  position: absolute;
  right: 0;
  bottom: 325px;
}

.pagination__item {
  width: 8px;
  height: 2px;
  background: #9da4bd;
  margin-bottom: 12px;
  margin-left: auto;
}
.pagination__item:last-child {
  margin-bottom: 0;
}
.pagination__item.pagination__item--current {
  width: 18px;
}

/**
  |============================
  | About section
  |============================
*/
.about__section {
  display: flex;
}

.about__list {
  display: flex;
  gap: 30px;
  margin-right: 64px;
}

.about-right {
  width: 500px;
}

.uppertitle {
  color: var(--third-txt-cl);
}
.uppertitle::before {
  background: var(--third-txt-cl);
}

.about-title {
  font-size: 18px;
  line-height: 1.6666666667;
  margin-bottom: 20px;
}

.about-txt {
  font-size: 14px;
  line-height: 1.8571428571;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--third-txt-cl);
  transition-property: background-color;
}
.about-btn:hover, .about-btn:focus {
  background-color: var(--hover-btn-cl);
  color: var(--wite-txt-cl);
}

/**
  |============================
  | Price section
  |============================
*/
.price__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background-color: #111319;
  background-image: url(../images/Price/img@1x_lg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.price__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--wite-txt-cl);
  margin-bottom: 44px;
}

.price__box {
  display: flex;
  margin-bottom: 50px;
}

.price__list--left {
  width: 585px;
  padding: 30px 40px;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price__item {
  font-size: 18px;
  line-height: 1.6666666667;
  color: #9da4bd;
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.price__item:last-child {
  margin-bottom: 0;
}
.price__item span:last-of-type {
  order: 2;
}

.price__item::after {
  content: "";
  flex-grow: 1;
  order: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background: rgba(157, 164, 189, 0.12);
}

.price__list--right {
  width: 585px;
  padding: 30px 40px;
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price__btn {
  color: var(--wite-txt-cl);
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-property: background-color;
}
.price__btn:hover, .price__btn:focus {
  background-color: var(--hover-btn-cl);
}

/**
  |============================
  | Benefits section
  |============================
*/
.benefits__section {
  display: flex;
}

.benefits__list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 100px;
}

.benefits__item {
  width: 170px;
  padding: 20px;
  background: #f7f7f7;
}

.benefits__item:nth-child(2n) {
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-number {
  position: relative;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-txt-cl);
}

.benefits__decore {
  position: absolute;
  top: 7px;
  right: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  color: var(--hover-txt-cl);
}

.benefits-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: normal;
  color: var(--third-txt-cl);
}

.benefits__box {
  width: 500px;
  margin-left: 130px;
}

.benefits__uppertitle {
  color: var(--third-txt-cl);
}
.benefits__uppertitle::before {
  background: var(--third-txt-cl);
}

.benefits__txt {
  font-size: 18px;
  line-height: 1.6666666667;
}

/**
  |============================
  | Masters section
  |============================
*/
.masters__uppertitle {
  color: var(--third-txt-cl);
}
.masters__uppertitle::before {
  content: "";
  background: var(--third-txt-cl);
}

.masters__masters__list {
  display: flex;
  gap: 30px;
}

.masters__social--ccontainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.masters__social--icon {
  fill: currentColor;
}

.masters__social--link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--third-txt-cl);
  background-color: var(--primary-bcg-cl);
  transition-property: color;
}
.masters__social--link:hover, .masters__social--link:focus {
  color: var(--hover-icon-bcg);
}

.masters__name {
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 8px;
}

.masters_profession {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  color: var(--hover-txt-cl);
  margin-bottom: 30px;
}

/**
  |============================
  | Gallery section
  |============================
*/
.gallery__uppertitle {
  color: var(--third-txt-cl);
}
.gallery__uppertitle::before {
  content: "";
  background: var(--third-txt-cl);
}

.gallery__list {
  display: flex;
  gap: 30px;
}

/**
  |============================
  | Contacts section
  |============================
*/
.contacts__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  background: #191c26;
  background-image: url(../images/Contacts/Bg@1xlg.png);
  background-position: top left 655px;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts__section {
  display: flex;
}

.contacts__left-box {
  width: 655px;
}

.contacts__title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.1666666667;
  letter-spacing: 0.05em;
  color: var(--wite-txt-cl);
  opacity: 0.6;
  margin-bottom: 44px;
  margin-left: 100px;
}

.contacts__imput--container {
  display: flex;
  margin-bottom: 44px;
}

.contacts__group {
  margin-right: 30px;
}
.contacts__group:last-child {
  margin-right: 0;
}

.contacts__group {
  position: relative;
}

.form-input {
  width: 270px;
  height: 24px;
  border: none;
  background-color: transparent;
  outline: rgba(0, 0, 0, 0);
  color: rgba(157, 164, 189, 0.4);
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  cursor: pointer;
}
.form-input.current {
  width: 260px;
}
.form-input:hover, .form-input:focus {
  border-color: var(--primary-bcg-cl);
  color: var(--wite-txt-cl);
}
.form-input:hover + .contacts-form__label, .form-input:focus + .contacts-form__label {
  border-color: var(--primary-bcg-cl);
  color: var(--wite-txt-cl);
}
.form-input::placeholder {
  opacity: 0;
  transition: opacity 250ms ease;
}
.form-input:focus::placeholder {
  opacity: 1;
}

.form-input:focus + .contacts-form__label {
  transform: translateY(-20px);
  transition: transform 250ms ease;
}

.contacts-form__field--coment:focus + .contacts-form__label {
  transform: translateY(-20px);
  transition: transform 250ms ease;
}

.contacts-form__label {
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
}

.contacts__group--messge {
  position: relative;
}

.contacts-form__field--coment {
  width: 560px;
  height: 76px;
  border: none;
  background-color: transparent;
  color: rgba(157, 164, 189, 0.4);
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: rgba(0, 0, 0, 0);
  cursor: pointer;
  margin-bottom: 44px;
  resize: none;
}
.contacts-form__field--coment:hover, .contacts-form__field--coment:focus {
  border-color: var(--primary-bcg-cl);
  color: var(--wite-txt-cl);
}
.contacts-form__field--coment:hover + .contacts-form__label, .contacts-form__field--coment:focus + .contacts-form__label {
  border-color: var(--primary-bcg-cl);
  color: var(--wite-txt-cl);
}

.contacts__btn {
  display: block;
}
.contacts__btn:hover {
  background-color: var(--hover-btn-cl);
}

.contacts__right-box {
  width: 625px;
}

.contacts__address {
  margin-bottom: 20px;
  margin-left: 100px;
}

.contacts__list {
  margin-bottom: 66px;
  margin-left: 100px;
}

.contacts__item {
  margin-bottom: 20px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}

.contacts__link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.6666666667;
  color: #9da4bd;
  transition-property: color;
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--wite-txt-cl);
}

.contacts__uppertitle {
  margin-left: 100px;
}

.contacts__txt {
  font-size: 18px;
  line-height: 1.6666666667;
  margin-left: 100px;
  color: #9da4bd;
}

/**
  |============================
  | Footer section
  |============================
*/
.footer__section {
  display: flex;
  justify-content: space-between;
}

.header__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  padding-bottom: 56px;
  padding-top: 56px;
  color: #9da4bd;
}

.footer_list {
  display: flex;
  gap: 40px;
}

.footer__item:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.footer__item:first-child::before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 1px;
  background: var(--secondary-txt-cl);
}

.footer__link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  color: var(--third-txt-cl);
  padding-bottom: 56px;
  padding-top: 56px;
  transition-property: color;
}
.footer__link:hover, .footer__link:focus {
  color: var(--hover-txt-cl);
}/*# sourceMappingURL=main.css.map */