:root {
  /* Fonts */
  --primary-font: 'Open Sans', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Text color */
  --primary-txt-cl: #555555;
  --secondary-txt-cl: rgba(157, 164, 189, 0.6);
  --third-txt-cl: #303030;
  --wite-txt-cl: #ffffff;
  --hero-txt-cl: #9da4bd;
  --hover-txt-cl: #ff6c00;

  /* Background-color */
  --primary-bcg-cl: #ffffff;
  --hover-icon-bcg: #ff6c00;

  /* Line color */
  --bottom-border-color: #ff6c00;
  --hover-btn-cl: #ff6c00;

  /* Icon color*/
}
