<section class="about__container" id="about">
  <div class="about__section">
    <ul class="about__list">
      <li class="about__item">
        <img
          srcset="
            ./images/About/img-1_270.jpg 270w,
            ./images/About/img-1_330.jpg 330w,
            ./images/About/img-1_540.jpg 540w,
            ./images/About/img-1_660.jpg 660w
          "
          src="./images/About/img-1_270.jpg"
          alt="Бритье бороды"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, 100vw"
          width="270"
          height="445"
        />
      </li>
      <li class="about__item">
        <img
          srcset="
            ./images/About/img-2_270.jpg 270w,
            ./images/About/img-2_330.jpg 330w,
            ./images/About/img-2_540.jpg 540w,
            ./images/About/img-2_660.jpg 660w
          "
          src="./images/About/img-2_270.jpg"
          alt="Бритье опасной бритвой"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 330px, 100vw"
          width="270"
          height="445"
        />
      </li>
    </ul>
    <div class="about-right" data-aos="fade-left">
      <p class="uppertitle">О НАС</p>
      <h2 class="about-slogan">Лучший Барбершоп твоего города</h2>
      <p class="about-title">
        Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
        нам.
      </p>
      <p class="about-txt">
        Мы команда, которая никогда не останавливается на достигнутом и жаждет
        перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
        сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
        волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
        приходит!
      </p>
      <button class="about-btn" type="button" data-modal-open>
        онлайн-запись
      </button>
    </div>
  </div>
</section>
