<section class="benefits__container">
  <div class="benefits__section">
    <ul class="benefits__list">
      <li class="benefits__item">
        <p class="benefits-number">600<sup class="benefits__decore">+</sup></p>
        <p class="benefits-text">Довольных клиентов в день</p>
      </li>
      <li class="benefits__item">
        <p class="benefits-number">50<sup class="benefits__decore">+</sup></p>
        <p class="benefits-text">Наград за отличный сервис</p>
      </li>
      <li class="benefits__item">
        <p class="benefits-number">20<sup class="benefits__decore">+</sup></p>
        <p class="benefits-text">Лучших мастеров Киева</p>
      </li>
      <li class="benefits__item">
        <p class="benefits-number">100<sup class="benefits__decore">+</sup></p>
        <p class="benefits-text">Подарков постоянным клиентам</p>
      </li>
    </ul>

    <div class="benefits__box">
      <p class="benefits__uppertitle">старая традиционная школа</p>
      <h2 class="benefits__title">Почему приходят именно к нам?</h2>
      <p class="benefits__txt">
        О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать,
        чем 10 раз прочитать.
      </p>
    </div>
  </div>
</section>
