<!-- Gallery saction -->
<section class="gallery__container">
  <div class="gallery__section">
    <h2 class="gallery__title visually-hidden">Галерея</h2>
    <p class="gallery__uppertitle">
      На латинском языке “барба” означает “борода”
    </p>
    <ul class="gallery__list">
      <li class="gallery__item">
        <img
          srcset="
            ./images/Gallery/gallery-1-270.jpg 270w,
            ./images/Gallery/gallery-1-418.jpg 418w,
            ./images/Gallery/gallery-1-450.jpg 450w,
            ./images/Gallery/gallery-1-540.jpg 540w,
            ./images/Gallery/gallery-1-836.jpg 836w,
            ./images/Gallery/gallery-1-900.jpg 900w
          "
          src="./images/Gallery/gallery-1-270.jpg"
          alt="Стрижка"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/Gallery/gallery-2-270.jpg 270w,
            ./images/Gallery/gallery-2-418.jpg 418w,
            ./images/Gallery/gallery-2-450.jpg 450w,
            ./images/Gallery/gallery-2-540.jpg 540w,
            ./images/Gallery/gallery-2-836.jpg 836w,
            ./images/Gallery/gallery-2-900.jpg 900w
          "
          src="./images/Gallery/gallery-2-270.jpg"
          alt="Бритье бороды"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/Gallery/gallery-3-270.jpg 270w,
            ./images/Gallery/gallery-3-418.jpg 418w,
            ./images/Gallery/gallery-3-450.jpg 450w,
            ./images/Gallery/gallery-3-540.jpg 540w,
            ./images/Gallery/gallery-3-836.jpg 836w,
            ./images/Gallery/gallery-3-900.jpg 900w
          "
          src="./images/Gallery/gallery-3-270.jpg"
          alt="Распаривание кожи лица полотенцем"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="270"
          height="360"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/Gallery/gallery-4-270.jpg 270w,
            ./images/Gallery/gallery-4-418.jpg 418w,
            ./images/Gallery/gallery-4-450.jpg 450w,
            ./images/Gallery/gallery-4-540.jpg 540w,
            ./images/Gallery/gallery-4-836.jpg 836w,
            ./images/Gallery/gallery-4-900.jpg 900w
          "
          src="./images/Gallery/gallery-4-270.jpg"
          alt="Оконтовка"
          sizes="(min-width: 1200px) 270px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="270"
          height="360"
        />
      </li>
    </ul>
  </div>
</section>
