<!-- Hero section -->
<section class="hero">
  <div class="hero__container">
    <div class="hero__left-side">
      <ul class="hero__list">
        <li class="hero__item">
          <a href="" class="hero__link">Instagram</a>
        </li>
        <li class="hero__item">
          <a href="" class="hero__link">Youtube</a>
        </li>
      </ul>
    </div>
    <div class="hero__right-bar">
      <div class="hero-txt">
        <p class="hero__text">A hair salon for men in Kyiv</p>
        <h1 class="hero__title">BarberShop</h1>
        <p class="hero__slogan">
          Мы эксперты в модных мужских стрижках. Работаем&nbsp;быстро, осторожно
          и со вкусом.
        </p>
      </div>
      <ul class="paination__list">
        <li class="pagination__item pagination__item--current"></li>
        <li class="pagination__item"></li>
        <li class="pagination__item"></li>
      </ul>
      <ul class="btn__list">
        <li class="btn__item">
          <button class="btn--left" type="button">Назад</button>
        </li>
        <li class="btn__item">
          <button class="btn--right" type="button">Вперед</button>
        </li>
      </ul>
    </div>
  </div>
</section>
