<!-- Masters section -->
<section class="masters__container" id="masters">
  <div class="masters__section">
    <p class="masters__uppertitle">для настоящих ценителей атмосферы</p>
    <h2 class="masters__title">Наши мастера</h2>
    <ul class="masters__masters__list">
      <li class="masters__item">
        <img
          srcset="
            ./images/Masters/img-1-370.jpg 370w,
            ./images/Masters/img-1-418.jpg 418w,
            ./images/Masters/img-1-450.jpg 450w,
            ./images/Masters/img-1-740.jpg 740w,
            ./images/Masters/img-1-836.jpg 836w,
            ./images/Masters/img-1-900.jpg 900w
          "
          src="./images/Masters/img-1-370.jpg"
          alt="John Smith"
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="370"
          height="346"
        />
        <p class="masters__name">John Smith</p>
        <p class="masters_profession">Extreme Barber</p>
        <ul class="masters__social--ccontainer">
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="masters__item">
        <img
          srcset="
            ./images/Masters/img-2-370.jpg 370w,
            ./images/Masters/img-2-418.jpg 418w,
            ./images/Masters/img-2-450.jpg 450w,
            ./images/Masters/img-2-740.jpg 740w,
            ./images/Masters/img-2-836.jpg 836w,
            ./images/Masters/img-2-900.jpg 900w
          "
          src="./images/Masters/img-2-370.jpg"
          alt="Michele Doe"
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="370"
          height="346"
        />
        <p class="masters__name">Michele Doe</p>
        <p class="masters_profession">Extreme Barber</p>
        <ul class="masters__social--ccontainer">
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
      <li class="masters__item">
        <img
          srcset="
            ./images/Masters/img-3-370.jpg 370w,
            ./images/Masters/img-3-418.jpg 418w,
            ./images/Masters/img-3-450.jpg 450w,
            ./images/Masters/img-3-740.jpg 740w,
            ./images/Masters/img-3-836.jpg 836w,
            ./images/Masters/img-3-900.jpg 900w
          "
          src="./images/Masters/img-3-370.jpg"
          alt="Alan Black"
          sizes="(min-width: 1200px) 370px, (min-width: 768px) 450px, (max-width: 767px) 418px, 100vw"
          width="370"
          height="346"
        />
        <p class="masters__name">Alan Black</p>
        <p class="masters_profession">Extreme Barber</p>
        <ul class="masters__social--ccontainer">
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#instagram"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#twitter"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#facebook"></use></svg
            ></a>
          </li>
          <li class="masters__social--item">
            <a href="" class="masters__social--link"
              ><svg class="masters__social--icon" width="20" height="20">
                <use href="./images/sprite.svg#linkedin"></use></svg
            ></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
