<!-- Price section -->
<section class="price__container" id="price">
  <div class="price__section">
    <p class="price__uppertitle">Проведи время в компании лучших мастеров</p>
    <h2 class="price__title">Услуги и цены</h2>
    <div class="price__box">
      <ul class="price__list--left">
        <li class="price__item">
          <span>Мужская стрижка</span> <span>от 300 грн.</span>
        </li>
        <li class="price__item">
          <span>Стрижка бороды</span> <span>от 200 грн.</span>
        </li>
        <li class="price__item">
          <span>Стрижка усов</span> <span>от 200 грн.</span>
        </li>
        <li class="price__item">
          <span>Бритье опасной бритвой</span> <span>от 200 грн.</span>
        </li>
      </ul>
      <ul class="price__list--right">
        <li class="price__item">
          <span>Cтрижка у стажера</span> <span>от 50 грн.</span>
        </li>
        <li class="price__item">
          <span>Стрижка под насадку</span> <span>от 200 грн.</span>
        </li>
        <li class="price__item">
          <span>Детская стрижка (до 12 лет)</span>
          <span>от 300 грн.</span>
        </li>
        <li class="price__item">
          <span>Камуфлирование седины</span> <span>от 200 грн.</span>
        </li>
      </ul>
    </div>
    <button class="price__btn" type="button" data-modal-open>
      онлайн-запись
    </button>
  </div>
</section>
