/* Conteiner setings */

// for mobil
@media screen and (max-width: 480px) {
  %container {
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

// for dekstop
%container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
