/**
  |============================
  | Hero section
  |============================
*/

.hero {
  background-image: url(../images/Hero/hero-img1@1x-lg.jpg),
    linear-gradient(to right, #fff 12%, #191c26 12%);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/Hero/hero-img1@2x-lg.jpg),
      linear-gradient(to right, #fff 12%, #191c26 12%);
  }

  max-width: 1280px;
  min-height: 680px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 1125px 680px, contain;
  background-position: top right, center;
}

.hero__container {
  @extend %container;
  position: relative;
  display: flex;
}

.hero__left-side {
  width: 100px;

  display: flex;
  align-items: flex-end;
}

.hero__list {
  @extend %list;
  display: flex;
  align-items: center;
  gap: 40px;

  transform: rotate(-90deg) translateX(45px) translateY(15px);
  transform-origin: left bottom;

  &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background: var(--secondary-txt-cl);
  }
}

.hero__link {
  @extend %link;
  display: block;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;
  color: var(--third-txt-cl);

  @extend %animation;
  transition-property: color;
  &:hover,
  &:focus {
    color: var(--hover-txt-cl);
  }
}

.hero__right-bar {
  position: relative;
  display: block;
  width: 100%;
}
.hero-txt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  margin-top: 272px;
  margin-left: 100px;
  margin-bottom: 206px;
}
.hero__text {
  @extend %uppercase-hero;
}
.hero__title {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--wite-txt-cl);
}
.hero__slogan {
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
  color: var(--hero-txt-cl);
}
//Pagination menu
.paination__list {
  @extend %list;
}

// Buttons for pagination
.btn__list {
  position: absolute;
  right: 0;
  bottom: 40px;
  @extend %list;
  display: flex;
  gap: 26px;
}

.btn--left {
  @extend %hero-btn;
  color: rgba(157, 164, 189, 0.6);
  text-align: left;
}
.btn--right {
  @extend %hero-btn;
  color: #ffffff;
  text-align: right;
}

// Paination

.paination__list {
  position: absolute;
  right: 0;
  bottom: 325px;
}
.pagination__item {
  width: 8px;
  height: 2px;
  background: #9da4bd;
  margin-bottom: 12px;
  margin-left: auto;

  &:last-child {
    margin-bottom: 0;
  }
  &.pagination__item--current {
    width: 18px;
  }
}
